<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Sign in:</h3>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Ingrese su mail">
        <input type="password" name="password" placeholder="Ingrese su contraseña">
        <button>Sign in</button>
    </form>
    <button onclick="location.href='/signUp'">Ir al Sign up</button>
</body>
</html>